* {
  padding: 0;
  margin: 0;
  font-family: "Mukta", sans-serif;
  box-sizing: border-box;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 50px;
  font-size: 45px;
}
.inputText {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: azure;
  width: 300px;
  height: 50px;
  font-size: 45px;
  caret-color: black;
  border-radius: 15px;
  text-align: center;
}
.content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.startButton {
  margin: 30px;
  padding: 5px 40px;
  border-radius: 20px;
  font-size: 40px;
}
.gitHubLogo {
  position: relative;
  right: -20vw;
  bottom: -8vh;
  width: 150px;
  height: 40px;
}
